html,
body {
  height: 100%;
}
body {
  background-color: rgb(27, 26, 26);
  font-family: 'Oswald', sans-serif; 
}

/*warna*/
/*
merah 189, 31, 28
hitam 12, 12, 12
abu 27, 26, 26
gold 211, 146, 105
*/

/*Navbar*/
/*.navbar{
	position: relative;
	z-index: 1;
}*/
.navbar{
	background-color: rgb(12, 12, 12);
}
.navbar-brand {
	font-size: 38px;
	font-weight: 550;
	color: rgb(189, 31, 28) !important;
}
.nav-link{
	font-size: 20px;
}
.navbar{
    border-bottom:5px solid rgb(189, 31, 28);
}
.margin-content{
	height: 85px;
}
/*jumbotron*/
.jumbotron{
	background-image: url(../image/win.jpg);
	background-size: cover;
	background-position: center;
	height: 600px;
	position: relative;
}
.jumbotron::after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, rgba(27, 26, 26, 1), rgba(27, 26, 26, 0));
	position: absolute;
	bottom: 0;
}
.jumbotron .container{
	z-index: 1;
	position: relative;
}
.jumbotron .container{
	margin-top: 300px;
}
.jumbotron .container .title{	
	font-size: 80px;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
	font-weight: 400;
}
.jumbotron .container .motto{	
	font-size: 50px;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
	font-weight: 500;
}
.jumbotron .container .motto span{	
	color: rgb(189, 31, 28);
}

/*Sponsor*/
.sponsor{
	min-height: 50px;
	width: 100%;
	background-color: rgb(255, 255, 255);
}
.slider-sponsor{
	height: 130px;
}
.slider-sponsor-slide img{
	height: 130px;
	object-fit: contain;
}


/*News*/
.news{
	min-height: 600px;
}
.news .title{
	font-size: 50px;
	font-weight: 500; 
}
.news span{
	color: rgb(211, 146, 105);
}
.banner-contact{
	background-image: url(../image/banner-contact.png);
	background-size: cover;
	background-position: center;
	min-height: 120px;
	width: 100%;
}
.banner-team{
	background-image: url(../image/banner-team.png);
	background-size: cover;
	background-position: center;
	min-height: 120px;
	width: 100%;
}
.banner-partner{
	background-image: url(../image/banner-partner.png);
	background-size: cover;
	background-position: center;
	min-height: 120px;
	width: 100%;
}
.banner-news{
	background-image: url(../image/banner-news.png);
	background-size: cover;
	background-position: center;
	min-height: 120px;
	width: 100%;
}
.banner-text span{
	font-size: 70px;
	margin-top: 10px;
	display: inline-block;
}
#contact .container .title{
	font-size: 50px;
}
.circle{
	height: 110px;
	width: 110px;
	border-radius: 50%;
	border: 3px solid white;
	display: block;
	transition: transform .2s;
}
.circle img{
	margin-top: 22px;
	height: 60px;
}
.circle:hover {
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
}

#twitter .circle:hover{
	background-color: rgb(0, 172, 238);
}
#fb .circle:hover{
	background-color: rgb(59, 89, 152);
}
#yt .circle:hover{
	background-color: rgb(255,0,0);
}
#ig .circle:hover{
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
/*.card img{
	border-radius: 5px;
}
.card-img-overlay{
	border-radius: 5%;
}*/
.name-team{
	position: absolute;
	top: 80%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
.name-team h3{
	color: rgb(211, 146, 105);
}
.name-team h4{
	color: rgb(255, 255, 255);
}
.news-thumbnail{
	min-height: 300px;
	width: 100%;
}
.news-thumbnail img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.news-title h3{
	display: inline-block;
	margin-top: 10px;
	color: rgb(255, 255, 255);
}
.news-read-more h5{
	color: rgb(255, 255, 255);
}
.banner-detail-news{
	height: 400px;
	position: relative;
}
.banner-detail-news img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: relative;
	z-index: 1;
}
.banner-detail-news::after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(27, 26, 26 , 0.85);
	position: absolute;
	bottom: 0;
	z-index: 2;
}
.banner-detail-news .desc{
	z-index: 3;
	position: absolute;
}
.desc{
	margin-top: 80px;
}
.share img{
	height: 15px;
	margin-left: 15px;
}
.share img:hover{
	cursor: pointer;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.slider-news-slide{
	width: 18rem;
	min-height: 450px;
	background-color: rgb(255, 255, 255);
}
.slider-news-slide img{
	height: 450px;
	width: 100%;
	object-fit: cover;
}
.news-overview{
	min-height: 150px;
}
.title-elipsis h5{
	overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.isi-elipsis{
	overflow: hidden;
   text-overflow: ellipsis;
}
.teams{
	min-height: 600px;
	width: 100%;
	background-color: rgb(255, 255, 255);
}
.teams .title{
	font-size: 50px;
	font-weight: 500; 
	color: rgb(27, 26, 26);
}
.teams span{
	color: rgb(189, 31, 28);
}
.slider-teams-slide{
	width: 18rem;
	height: 500px;
	background-color: rgb(255, 255, 255);
	position: relative;
}
.slider-teams-slide::after{
	content: '';
	display: block;
	width: 100%;
	height: 30%;
	background-color: rgba(27, 26, 26, 0.7);
	position: absolute;
	bottom: 0;
	z-index: 2;
}
.slider-teams-slide img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: 1;
}
.team-overview{
	bottom: 0;
	z-index: 3;
	position: absolute;
}
.teams-profile{
	height: 400px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	position: relative;
}
.teams-profile::after{
	content: '';
	display: block;
	width: 100%;
	height: 30%;
	background-color: rgba(27, 26, 26, 0.7);
	position: absolute;
	bottom: 0;
	z-index: 2;
}
.teams-profile img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: 1;
}
.team-overview{
	bottom: 0;
	z-index: 3;
	position: absolute;
}
.player-profile{
	height: 500px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	position: relative;
}
.player-profile::after{
	content: '';
	display: block;
	width: 100%;
	height: 25%;
	background-color: rgba(27, 26, 26, 0.7);
	position: absolute;
	bottom: 0;
	z-index: 2;
}
.player-profile img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: 1;
}
.player-overview{
	bottom: 0;
	z-index: 3;
	position: absolute;
}
.divider hr{
	border: 1px solid rgb(211, 146, 105);
}
.goods{
	min-height: 600px;
	width: 100%;
	background-color: rgb(255, 255, 255);
}
.goods .title{
	font-size: 50px;
	font-weight: 500; 
	color: rgb(27, 26, 26);
}
.goods span{
	color: rgb(189, 31, 28);
}
.goods-item{
	height: 400px;
	/*background-color: rgb(12, 12, 12);*/
	position: relative;
}
.goods-item img{
	height: 100%;
	width: 100%;
	object-fit: contain;
}
.partners{
	min-height:200px;
}
.partners-detail{
	min-height:500px;
}
.partners-profile{

}
.partners-profile img{
	height: 200px;
	width: 200px;
	/*background-color: red;*/
}
/*Footer*/
footer{
	background-color: rgb(12, 12, 12);
}
.footer{
	height: 80px;
	background-color: rgb(12, 12, 12);
}
.boxFooter{
	background-color: rgb(27, 26, 26);
	/*box-shadow: 0px 0px 14px 5px rgba(27, 26, 26,0.75);*/
	border-radius: 10px;
}
.boxFooter p{
	font-family: 'Quattrocento', sans-serif; 
}
.footer p{
	padding-top: 30px;
}
.backToTop{
	z-index: 1;
	position: fixed;
  	bottom: 0;
  	right: 0;
  	display: inline-block;
  	height: 50px;
  	width: 50px;  
  	padding: 5px;
  	margin: 1em;
  	background: rgb(189, 31, 28);
  	border: 1px solid rgb(255, 255, 255);
  	font-size: 20px;
  	color: rgb(255, 255, 255);
  	border-radius: 15%;
}
.backToTop:hover{
	cursor: pointer;
	background-color: rgb(255, 255, 255);
	color: rgb(189, 31, 28);
	border: 1px solid rgb(189, 31, 28);
}

.socmed-item img{
	/*margin-bottom: 10px;*/
	height: 40px;
	margin-bottom: 5px;
}


/*Utility*/
.tombol{
	border-radius: 15px;
	color: rgb(255, 255, 255);
}
.tombol:hover{
	border:solid rgb(189, 31, 28);
	background-color: rgb(255, 255, 255);
	color: rgb(12, 12, 12);
	-ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
.bg-hitam{
	background-color: rgb(12, 12, 12);
}
.bg-putih{
	background-color: rgb(255, 255, 255);
}
.bg-merah{
	background-color: rgb(189, 31, 28);
}
.font-quattrocento{
	font-family: 'Quattrocento', sans-serif; 
}
.text-gold{
	color: rgb(211, 146, 105);
}
.border-gold{
	border: solid rgb(211, 146, 105);
}
.page-item .page-link {
	color: rgb(255, 255, 255);
	background-color: rgb(211, 146, 105);
	border-color: rgb(255, 255, 255);
}
.page-item .page-link:hover {
	color: rgb(211, 146, 105);
	background-color: rgb(255, 255, 255);
	border-color: rgb(211, 146, 105);
}
a:link{
	text-decoration: none !important;
}

/*DEKSTOP VERSION*/
@media (min-width: 992px){
	.nav-link{
		text-transform: uppercase;
	}
	.nav-link:hover::after{
		content: '';
		display: block;
		border-bottom: 3px solid rgb(189, 31, 28);
		/*width: 50%;*/
		margin: auto;
		margin-bottom: -3px;
		color: rgb(189, 31, 28)!important;
	}
	.nav-link:hover{
		color: rgb(189, 31, 28)!important;
	}
	.navbar-nav .nav-item:not(:last-child) {
	   border-right: 2px solid rgba(27, 26, 26, 0.5);
	}
}